schemas/EPOS-DCAT-AP.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eposap="http://www.epos-ip.org/" xmlns:adms="http://www.w3.org/ns/adms#"
	xmlns:dct="http://purl.org/dc/terms/" xmlns:dcat="http://www.w3.org/ns/dcat#"
	xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:owl="http://www.w3.org/2002/07/owl#"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:skos="http://www.w3.org/2004/02/skos/core#"
	xmlns:spdx="http://spdx.org/rdf/terms#" xmlns:vcard="http://www.w3.org/2006/vcard/ns#"
	xmlns:locn="http://www.w3.org/ns/locn#" xmlns:schema="http://schema.org/"
	xmlns:cnt="http://www.w3.org/2008/content#" xmlns:http="http://www.w3.org/2006/http#"
	targetNamespace="http://www.epos-ip.org/" elementFormDefault="qualified"
	attributeFormDefault="qualified">

	<xs:annotation>
		<xs:documentation xml:lang="en">
			This is an XML Schema extension of DCAT-AP XML Schema (http://www.w3.org/ns/dcat#) for describing EPOS Baseline
		</xs:documentation>
	</xs:annotation>

	<xs:import namespace="http://www.w3.org/ns/adms#" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/adms.xsd" />
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/dcterms.xsd" />
	<xs:import namespace="http://xmlns.com/foaf/0.1/" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/foaf.xsd" />
	<xs:import namespace="http://www.w3.org/2002/07/owl#" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/owl.xsd" />
	<xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/skos.xsd" />
	<xs:import namespace="http://spdx.org/rdf/terms#" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/spdx.xsd" />
	<xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/rdf.xsd" />
	<xs:import namespace="http://www.w3.org/2006/vcard/ns#" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/vcard.xsd" />
	<xs:import namespace="http://www.w3.org/ns/dcat#" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/dcat.xsd" />
	<xs:import namespace="http://www.w3.org/2008/content#" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/cnt.xsd" />
	<xs:import namespace="http://schema.org/" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/schema.org.xsd" />
	<xs:import namespace="http://www.w3.org/2006/http#" schemaLocation="https://raw.githubusercontent.com/epos-eu/EPOS-DCAT-AP/master/schemas/http.xsd" />

	<!-- EPOS roles -->
	<xs:element name="responsibleParty" type="xs:IDREF" />
	<xs:element name="affiliation" type="xs:IDREF" />
	<xs:element name="legalContact" type="xs:IDREF" />
	<xs:element name="financialContact" type="xs:IDREF" />
	<xs:element name="scientificContact" type="xs:IDREF" />
	<xs:element name="isPartOf" type="xs:IDREF" />
	<xs:element name="associatedProjects" type="xs:IDREF" />
	<xs:element name="authors" type="xs:IDREF" />
	<xs:element name="publisher" type="xs:IDREF" />
	<xs:element name="contributors" type="xs:IDREF" />
	<xs:element name="facilityManager" type="xs:IDREF" />
	<xs:element name="owner" type="xs:IDREF" />
	<xs:element name="relatedTo" type="xs:IDREF" />
	<xs:element name="providedBy" type="xs:IDREF" />
	

	<!-- eposap:Catalog -->
	<xs:element name="Catalog" type="eposap:Catalog" />
	<xs:complexType name="Catalog">
		<xs:sequence>
			<!-- dcat:Catalog properties -->
			<xs:element ref="dct:title" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="dct:description" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="dct:publisher" minOccurs="1" maxOccurs="1" />
			
			<!-- EPOS extension -->
			<xs:element ref="eposap:Dataset" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="eposap:CatalogRecord" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- eposap:Dataset -->
	<xs:element name="Dataset" type="eposap:Dataset" />
	<xs:complexType name="Dataset">
		<xs:sequence>
			<!-- dcat:Dataset properties-->
			<xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:title" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="dct:description" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="dct:issued" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:modified" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:language" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="dct:provenance" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:type" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dcat:keyword" minOccurs="0" maxOccurs="1" />			
			<xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dcat:landingPage" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dct:spatial" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dct:temporal" minOccurs="0" maxOccurs="1" />
			<xs:element name="distribution" type="dcat:Distribution" minOccurs="1" maxOccurs="1" />
			
			<!-- EPOS extension -->
			
			<xs:element name="domain" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="subDomain" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:created" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:subject" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="cnt:characterEncoding" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dcat:contactPoint" minOccurs="1" maxOccurs="1" />
			<xs:element ref="eposap:responsibleParty" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="rdf:comment" minOccurs="0" maxOccurs="1" />
			<xs:element ref="adms:representationTechnique" minOccurs="0" maxOccurs="1" />
			<xs:element ref="eposap:providedBy" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- eposap:CatalogRecord -->
	<xs:element name="CatalogRecord" type="eposap:CatalogRecord" />
	<xs:complexType name="CatalogRecord">
		<xs:sequence>
			<!-- dcat:CatalogRecord properties -->
			<xs:element ref="foaf:primaryTopic" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:modified" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:language" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:title" minOccurs="0" maxOccurs="1" />

			<!-- EPOS extension -->
			<xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1" />
			<xs:element ref="owl:versionInfo" minOccurs="0" maxOccurs="1" />
			<xs:element ref="cnt:characterEncoding" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dcat:contactPoint" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:created" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- eposap:WebService -->
	<xs:element name="WebService" type="eposap:WebService" />
	<xs:complexType name="WebService">
		<xs:sequence>
			<!-- dcat:Distribution properties -->
			<xs:element ref="dct:title" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="dct:description" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="dct:issued" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:modified" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:license" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="foaf:page" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:format" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="1" />

			<!-- EPOS extension -->
			<xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:created" minOccurs="1" maxOccurs="1" />			
			<xs:element name="domain" type="xs:string" minOccurs="1" maxOccurs="1" /><!--  domain -->
			<xs:element name="subDomain" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:type" minOccurs="1" maxOccurs="1" /><!-- resource type -->
			<xs:element ref="dcat:keyword" minOccurs="0" maxOccurs="1" />
			<xs:element name="operation" type="xs:string" minOccurs="1" maxOccurs="1" /><!--  operation -->			
			<xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="http:paramName" minOccurs="1" maxOccurs="1" />
						<xs:element ref="rdf:label" minOccurs="1" maxOccurs="1" />
						<xs:element ref="dct:type" minOccurs="1" maxOccurs="1" /> <!-- parameter type -->
						<xs:element ref="http:paramValue" minOccurs="0" maxOccurs="1" />		
						<xs:element ref="schema:minValue" minOccurs="0" maxOccurs="1" />	
						<xs:element ref="schema:maxValue" minOccurs="0" maxOccurs="1" />								
						<xs:element ref="owl:versionInfo" minOccurs="0" maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dcat:contactPoint" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="eposap:responsibleParty" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:spatial" minOccurs="0" maxOccurs="1" />
			<xs:element ref="adms:representationTechnique" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dct:temporal" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dct:provenance" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dct:source" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- eposap:Publication -->
	<xs:element name="Publication" type="eposap:Publication" />
	<xs:complexType name="Publication">
		<xs:sequence>
			<!-- EPOS extension -->
			<xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="dct:title" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="eposap:authors" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="eposap:publisher" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:abstract" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="dct:issued" minOccurs="1" maxOccurs="1" />
			<xs:element ref="schema:issn" minOccurs="0" maxOccurs="1" />
			<xs:element ref="schema:issueNumber" minOccurs="0" maxOccurs="1" />
			<xs:element ref="schema:volumeNumber" minOccurs="0" maxOccurs="1" />
			<xs:element ref="schema:numberOfPages" minOccurs="0" maxOccurs="1" />
			<xs:element ref="schema:keywords" minOccurs="0" maxOccurs="1" />
			<xs:element ref="eposap:contributors" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="dct:format" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- eposap:Equipment -->
	<xs:element name="Equipment" type="eposap:Equipment" />
	<xs:complexType name="Equipment">
		<xs:sequence>
			<!-- EPOS extension -->
			<xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1" />
			<xs:element ref="schema:serialNumber" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dct:type" minOccurs="1" maxOccurs="1" />
			<xs:element ref="schema:numberOfItems" minOccurs="1" maxOccurs="1" />
			<xs:element ref="schema:manufacturer" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:description" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:title" minOccurs="1" maxOccurs="1" />
			<xs:element ref="eposap:relatedTo" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="eposap:isPartOf" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="dcat:contactPoint" minOccurs="1" maxOccurs="1" />
			<xs:element ref="eposap:owner" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:temporal" minOccurs="0" maxOccurs="1" />
			<xs:element name="orientation" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="dynamicRange" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="schema:unitText" minOccurs="1" maxOccurs="1" />
						<xs:element ref="schema:value" minOccurs="1" maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="resolution" type="xs:double" minOccurs="0" maxOccurs="1" />
			<xs:element name="samplePeriod" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="schema:unitText" minOccurs="1" maxOccurs="1" />
						<xs:element ref="schema:value" minOccurs="1" maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="filter" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dct:spatial" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- eposap:Facility -->
	<xs:element name="Facility" type="eposap:Facility" />
	<xs:complexType name="Facility">
		<xs:sequence>
			<!-- EPOS extension -->
			<xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:title" minOccurs="1" maxOccurs="1" />
			<xs:element ref="vcard:hasAddress" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:description" minOccurs="1" maxOccurs="1" />
			<xs:element ref="eposap:owner" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dcat:contactPoint" minOccurs="1" maxOccurs="1" />
			<xs:element ref="eposap:facilityManager" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:type" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="foaf:page" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dcat:theme" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- eposap:Project -->
	<xs:element name="Project" type="eposap:Project" />
	<xs:complexType name="Project">
		<xs:sequence>
			<!-- EPOS extension -->
			<xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="dct:description" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<!-- eposap:Organisation -->
	<xs:element name="Organisation" type="eposap:Organisation" />
	<xs:complexType name="Organisation">
		<xs:sequence>
			<!-- vcard:Organization properties -->
			<xs:element ref="vcard:fn" minOccurs="1" maxOccurs="1" />
			<xs:element ref="vcard:organization-name" minOccurs="0" maxOccurs="1" />
			<xs:element ref="vcard:hasAddress" minOccurs="1" maxOccurs="1" />
			<xs:element ref="vcard:hasEmail" minOccurs="0" maxOccurs="1" />
			<xs:element ref="vcard:hasURL" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="vcard:hasTelephone" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="vcard:hasLogo" minOccurs="0" maxOccurs="1" />

			<!-- EPOS extension -->
			<xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1" />
			<xs:element ref="eposap:scientificContact" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="dct:spatial" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dct:type" minOccurs="1" maxOccurs="1" />
			<xs:element ref="eposap:legalContact" minOccurs="1" maxOccurs="1" />
			<xs:element ref="eposap:financialContact" minOccurs="1" maxOccurs="1" />
			<xs:element ref="eposap:isPartOf" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="eposap:associatedProjects" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<!-- eposap:Person -->
	<xs:element name="Person" type="eposap:Person" />
	<xs:complexType name="Person">
		<xs:sequence>
			<!-- vcard:Individual properties -->
			<xs:element ref="vcard:fn" minOccurs="1" maxOccurs="1" />
			<xs:element ref="vcard:hasAddress" minOccurs="1" maxOccurs="1" />
			<xs:element ref="vcard:hasEmail" minOccurs="0" maxOccurs="1" />			
			<xs:element ref="vcard:hasTelephone" minOccurs="0" maxOccurs="1" />
			
			<!-- EPOS extension -->
			<xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1" />
			<xs:element ref="eposap:affiliation" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dct:language" minOccurs="1" maxOccurs="1" />
			<xs:element ref="schema:qualifications" minOccurs="0" maxOccurs="1" />
			<xs:element ref="vcard:hasURL" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<!-- eposap:Service -->
	<xs:element name="Service" type="eposap:Service" />
	<xs:complexType name="Service">
		<xs:sequence>			
			<!-- schema:Service properties -->
			<xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="schema:name" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="schema:serviceType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="dct:description" minOccurs="1" maxOccurs="1"/>
			<!-- EPOS extension -->
			<xs:element ref="dct:license" minOccurs="1" maxOccurs="unbounded" />
			<xs:element ref="dcat:contactPoint" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Software&ModalCode 
	<xs:complexType name="ModelCode">
		<xs:complexContent>
			<xs:extension base="schema:SoftwareSourceCode">
				<xs:sequence>
					<xs:element name="contact">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="personID" type="xs:IDREF"
									minOccurs="0" maxOccurs="1" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Software">
		<xs:complexContent>
			<xs:extension base="schema:SoftwareApplication">
				<xs:sequence>
					<xs:element name="contact">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="personID" type="xs:IDREF"
									minOccurs="0" maxOccurs="1" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
--> 

	<xs:element name="Epos" type="eposap:Epos" />
	<xs:complexType name="Epos">
		<xs:sequence>
			<xs:element ref="eposap:Catalog" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="eposap:Person" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="eposap:Organisation" minOccurs="0" 	maxOccurs="unbounded" />
			<xs:element ref="eposap:Project" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="eposap:WebService" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="eposap:Publication" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="eposap:Service" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="eposap:Equipment" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="eposap:Facility" minOccurs="0" maxOccurs="unbounded" />

			<!-- Software&ModalCode 
			<xs:element name="Software" type="eposap:Software" minOccurs="0" maxOccurs="unbounded" /> 
			<xs:element name="ModelCode" type="eposap:ModelCode" minOccurs="0" maxOccurs="unbounded" /> -->
		</xs:sequence>
	</xs:complexType>

</xs:schema>
